@font-face {
    font-family: Graphik;
    src: url("./Graphik-Font-Family/GraphikRegular.otf") format("opentype");
}

@font-face {
    font-family: Graphik;
    font-weight: bold;
    src: url("./Graphik-Font-Family/GraphikBold.otf") format("opentype");
}

* {
    font-family: Graphik;
    margin: 0;
    padding: 0;
    color: #e6e6e6;
    box-sizing: border-box;
}

.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

input:focus, textarea:focus {
    outline: none;
}

.content {
    height: 100vh;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 80px 1fr 40px;
}

.header {
    font-size: 1.5rem;
    font-weight: bold;
    grid-row: 1;
    grid-column: 1 / -1;
    background-color: #282828;
    padding: 20px;

    display: flex;
    align-items: center;
}

.projects {
    grid-row: 2;
    grid-column: 1;
    background-color: #252525;
    padding: 20px;
}

.tasks {
    grid-row: 2;
    grid-column: 2;
    background-color: #202020;
    padding: 30px 80px;
}

.footer {
    grid-row: 3;
    grid-column: 1 / -1;
    background-color: #282828;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.task {
    display: flex;
    max-width: 900px;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;

    font-size: 0.9rem;
}

.checkbox, .delete {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 60px;
}

.delete {
    display: flex;
    justify-content: right;
    width: 30px;
}

.delete span {
    display: none;
}

.task:hover .delete span {
    display: block;
}

.due-date {
    margin-left: auto;
}

.complete .task {
    color: #252525; 
}

.user-input, .add-task-buttons {
    max-width: 900px;
}

.user-input {
    display: flex;
    flex-direction: column;
    border: 1px solid #282828;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

#task-title, input[type="text"] {
    background-color:#202020;
    border: none;
    resize: none;
}

input[type="date"] {
    color: #e6e6e6;
    background-color: #202020;
    border: 1px solid #282828;
    padding: 2px;
    border-radius: 5px;
    width: 120px;
}

.add-task-buttons {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.cancel-button,
.add-task-button,
.add-project-button,
.cancel-project-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.add-task-button,
.add-project-button {
    background-color: #de4c4a;
}

.cancel-button,
.cancel-project-button {
    background-color:#282828;
}

.add-task-button:hover,
.add-project-button:hover {
    background-color: #dc322f;
    cursor: pointer;
}

.cancel-button:hover,
.cancel-project-button:hover {
    background-color: #7e7e7e;
    cursor: pointer;
}

.add-task-minimized {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 0.8rem;
}

.add-task-minimized .icon {
    width: 40px;
}

.add-task-minimized .label, .add-project .label {
    color: #a8a8a8;
}

.material-icons.red { color: #9f2422; }

.project-header {
    margin-bottom: 20px;
}

.project {
    font-size: 0.8rem;
    margin-bottom: 10px;
    width: 95%;
    padding: 10px;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.project .delete-icon {
    margin-left: auto;
    display: none;
}

.project:hover .delete-icon {
    display: flex;
    align-items: center;
}

.delete-icon:hover {
    cursor: pointer;
}

.project:hover {
    background-color: #303030;
}

.add-task-minimized:hover .label,
.add-project:hover .label {
    color: white;
}

.add-task-minimized:hover .material-icons.red,
.add-project:hover .material-icons.red {
    color: #dc322f;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.add-project {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 20px;
}

.add-project .icon {
    width: 30px;
}

/* add project form */

.add-project-form {
    display: none;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.6)
}

.add-project-form form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;

    display: flex;
    flex-direction: column;
    gap: 15px;

    border: 1px solid #7e7e7e;
    border-radius: 4px;
    padding: 20px;

    background-color: #131313;
}

.add-project-form p {
    font-size: 1.3rem;
}

.form-row {
    display: flex;
    align-items: center;
}

.add-project-form label {
    padding-right: 10px;
}

.add-project-form input[type="text"] {
    width: 300px;
    padding: 8px;
    border-radius: 8px;
}

.add-project-buttons {
    display: flex;
    justify-content: right;
    gap: 15px;
}